body{
    background-color: rgb(18, 16, 13);
    color: white;
}

main{
    padding: 1rem;
}

.table-responsive {
    overflow-x: auto;
}

.nav-link{
    font-weight: bold;
}

.nav-link.active{
    color: cornflowerblue;
    border-radius: 5px;
}

.nav-link:hover{
    color: cadetblue;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}